<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title || 'mon application' %></title>
    <!-- Local CSS -->
    <link rel="stylesheet" href="../public/css/global.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Coding City Groupe</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Accueil</a>
                </li>
            
                <li class="nav-item">
                    <a class="nav-link" href="/auth/create-user">Inscription</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/login">Connexion</a>
                </li>
                <li class="nav-item">
                    <form action="/user/logout" method="post">
                        <button type="submit" class="btn btn-primary">Deconnexion</button>
                    </form>

                </li>
            </ul>
        </div>
    </nav>